.gradle/
build/
.dart_tool/
.flutter-plugins*
.packages
.pub-cache/
.pub/
coverage/
*.iml
.idea/
*.log
*.apk
*.aab
*.jks
*.keystore
local.properties
google-services.json
GoogleService-Info.plist
.env*
functions/node_modules/
functions/lib/
